*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 15px;
}

.container{
    width: 60%;
    display: grid;
    grid-template-columns: 380px 176px 176px 176px; 
    grid-template-rows: 240px 200px 80px; 
    gap: 10px;  
    background-color: rgb(187, 187, 187);
    margin:auto;
    margin-top:100px;
    justify-content: space-evenly;
    padding: 40px 15px 40px 15px;
    border: 3px solid orange
}
.grd1{
    background-image: url(imagenes/hombrepeque¤o.jpg);
    grid-row: 1 / 5;
    border: 3px solid white;
}
.grd2{
    grid-column: 2 / 5;
}
h1{
    text-align: center;
}
ul{
    padding-top: 20px;
    margin-left: 30%;
}

.samsung{
    background-color: white;
    text-align: center;
}
.lenovo{
    background-color: white;
    text-align: center;
}
.xiaomi{
    background-color: white;
    text-align: center;
}
.samsung img{
    width: 125px;
    text-align: center;
    padding-top: 15px;
}
.xiaomi img{ 
    width: 125px;
    text-align: center;
    padding-top: 15px;
}
.lenovo img{
    width: 125px;
    text-align: center;
    padding-top: 15px;
}

p{
    padding-top: 10px;
}